body {
  background-color: #4488cc;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

.completada .texto {
  text-decoration: line-through;
  color: #1c3bac;
}

.alerta-error {
  color: red;
  font-weight: bold;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}